body {
  margin: 40px;
}

/* Mobile defaults */
.thumbnail-grid {
  display: grid;
  grid-template-columns: 1fr;
  /*grid-template-rows: 150px 1fr 1fr;*/
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 2 columns */
  .thumbnail-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  /* 3 columns */
  .thumbnail-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.thumbnail-items {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 5%;
  /*font-size: 150%;*/
}

.thumbnail-items > caption {
  font-size: 20px;
  color: #fff;
  padding: 5%;
}

.thumbnail-items > summary {
  font-size: 18px;
  color: #fff;
  padding: 5%;
}

img {
  width: 100%;
  height: auto;
  /*margin: auto;*/
}

.thumbnail-grid > p {
  margin-top: 30px;
  font-size: 24px;
  color: red;
}

.js-search-form > input {
  margin: 20px 5px;
  height: 35px;
  width: 250px;
  font-size: 24px;
  border-radius: 5px;
}

.js-search-form > button {
  height: 30px;
  width: 80px;
  font-size: 20px;
  border-radius: 5px;
}

.next > a, .prev > a {
  text-decoration: none;
  height: 30px;
  width: 80px;
  font-size: 20px;
}

.next, .prev {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}












